{{template "header"}}
	<title>Home</title>
</head>
<body>
	<nav class="navbar navbar-default ">
		<div class="container">
		{{template "navbar" .}}
		</div>
	</nav>
	<div class="container">
		{{range .blogs}}
		<div class="page-header">
			<h1> {{.Title}}</h1>
			<h6 class="text-muted">Posted on {{.Created}}, {{.Views}} views, {{.ReplyCount}} comments</h6>
			<p>
				{{.Content}}
			</p>
		</div>
		{{end}}
	</div>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>